/src/cgi/CMakeFiles/CMakeDirectoryInformation.cmake
/src/cgi/CMakeFiles/cgi.dir/progress.make
/src/cgi/CMakeFiles/cmake.check_cache
/src/cgi/CMakeFiles/2.8.12.1/CMakeCCompiler.cmake
/src/cgi/CMakeFiles/2.8.12.1/CMakeCXXCompiler.cmake
/src/cgi/CMakeFiles/2.8.12.1/CMakeDetermineCompilerABI_C.bin
/src/cgi/CMakeFiles/2.8.12.1/CMakeDetermineCompilerABI_CXX.bin
/src/cgi/CMakeFiles/2.8.12.1/CMakeSystem.cmake
/src/cgi/CMakeFiles/2.8.12.1/CompilerIdC/CMakeCCompilerId.c
/src/cgi/CMakeFiles/2.8.12.1/CompilerIdC/a.out
/src/cgi/CMakeFiles/2.8.12.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/src/cgi/CMakeFiles/2.8.12.1/CompilerIdCXX/a.out
/src/cgi/CMakeFiles/CMakeError.log
/src/cgi/CMakeFiles/CMakeOutput.log
/src/cgi/CMakeFiles/Makefile.cmake
/src/cgi/CMakeFiles/Makefile2
/src/cgi/CMakeFiles/TargetDirectories.txt
/src/cgi/CMakeFiles/cgi.dir/CXX.includecache
/src/cgi/CMakeFiles/cgi.dir/DependInfo.cmake
/src/cgi/CMakeFiles/cgi.dir/build.make
/src/cgi/CMakeFiles/cgi.dir/cmake_clean.cmake
/src/cgi/CMakeFiles/cgi.dir/cmake_clean_target.cmake
/src/cgi/CMakeFiles/cgi.dir/depend.internal
/src/cgi/CMakeFiles/cgi.dir/depend.make
/src/cgi/CMakeFiles/cgi.dir/flags.make
/src/cgi/CMakeFiles/cgi.dir/link.txt
/src/cgi/CMakeFiles/cgi.dir/multipart.cpp.o
/src/cgi/CMakeFiles/composetest.dir/CXX.includecache
/src/cgi/CMakeFiles/composetest.dir/DependInfo.cmake
/src/cgi/CMakeFiles/composetest.dir/build.make
/src/cgi/CMakeFiles/composetest.dir/cmake_clean.cmake
/src/cgi/CMakeFiles/composetest.dir/compose.c.o
/src/cgi/CMakeFiles/composetest.dir/depend.internal
/src/cgi/CMakeFiles/composetest.dir/depend.make
/src/cgi/CMakeFiles/composetest.dir/flags.make
/src/cgi/CMakeFiles/composetest.dir/link.txt
/src/cgi/CMakeFiles/composetest.dir/progress.make
/src/cgi/CMakeFiles/progress.marks
/src/cgi/CMakeFiles/stalinize.cgi.dir/CXX.includecache
/src/cgi/CMakeFiles/stalinize.cgi.dir/DependInfo.cmake
/src/cgi/CMakeFiles/stalinize.cgi.dir/build.make
/src/cgi/CMakeFiles/stalinize.cgi.dir/cmake_clean.cmake
/src/cgi/CMakeFiles/stalinize.cgi.dir/depend.internal
/src/cgi/CMakeFiles/stalinize.cgi.dir/depend.make
/src/cgi/CMakeFiles/stalinize.cgi.dir/flags.make
/src/cgi/CMakeFiles/stalinize.cgi.dir/link.txt
/src/cgi/CMakeFiles/stalinize.cgi.dir/progress.make
/src/cgi/CMakeFiles/stalinize.cgi.dir/stalinize.c.o
*.xcf
*~
*.jpeg
*.png
*.cgi
/src/cgi/test_2_before.jpg
/src/cgi/test_2_mask.jpg
/src/cgi/test_2_mask_image.jpg
/src/cgi/test_2_mask_image_start.jpg
/src/cgi/test_2_masked_image2.jpg
/src/cgi/test_2_masked_image2a.jpg
/src/cgi/test_2_result_mask2.jpg
/src/cgi/test_2_result_mask3.jpg
/src/cgi/test_2_source.jpg
/src/cgi/test_3_after.jpg
/src/cgi/test_3_before.jpg
/src/cgi/test_3_mask.jpg
/src/cgi/test_3_mask_image.jpg
/src/cgi/test_3_mask_image_start.jpg
/src/cgi/test_3_masked_image2.jpg
/src/cgi/test_3_masked_image2a.jpg
/src/cgi/test_3_result_mask2.jpg
/src/cgi/test_3_result_mask3.jpg
/src/cgi/test_3_source.jpg
/src/cgi/thttpd.pid
/src/cgi/resized.jpg
/src/cgi/libcgi.a
/src/cgi/composetest
/src/cgi/Makefile
